.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar__item {
    /* flex-basis: 15%; */
    list-style-type: none;
}

.navbar__logout {
    /* margin-left: auto; */
}

.main_header {
    /* background-color: #A52422; */

}

a.navbar__link {
    font-size: larger;
}

ul.navbar {
    margin: 0;
    padding: 0;
}


/* TEST Link animations */

:root {
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #275EFE;
  }
  
  p a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.25s;
  }
  p a svg {
    width: 76px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
  }
  p a:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
  }
  
  * {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  
  body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
  }
  body .dribbble img {
    display: block;
    height: 28px;
  }