.contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact {
    background-color: azure;
    border: 1px dotted darkmagenta;
    padding: .7rem;
    margin: .5rem 0;
}

.categoriesOutputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categoryOutput {
    /* padding: 0 .3rem .3rem 0 ; */
    padding: .2rem .6rem;
    border: 1px solid;
    box-shadow: 3px 3px #595959;
    border-radius: 10px;
    margin: .25rem 1rem .5rem 0;
    background-color: honeydew;
}